<div [class.dark-theme]="isDark">
  <!-- Toolbar -->
  <app-toolbar [themeColor]="themeColor">
    <h2>Eloquent Javascript Exercises by<code>&nbsp;Angel Basto </code></h2>
    <span class="example-spacer"></span>

    <!-- below button will help us change the theme at run-time. -->
    <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle dark theme">
      <mat-icon>
        brightness_6
      </mat-icon>
    </button>

  </app-toolbar>

  <!-- Content -->
  <app-sidenav>
    <div class="container">
      <h1 class="mat-display-3">Main Content</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nobis illum animi temporibus omnis.
        Consequatur qui fugit facilis reiciendis deserunt, debitis beatae! Illo dolorem asperiores nisi excepturi eum
        veritatis cupiditate.
      </p>
    </div>
  </app-sidenav>
</div>

<!--<router-outlet></router-outlet>-->
